<module>
	<init-param>
		<param-name>Name</param-name>
		<param-value>SHANKAR TUCKER</param-value>
	</init-param>
	<init-param>
		<param-name>Account_Number</param-name>
		<param-value>123123312321</param-value>
	</init-param>
	<init-param>
		<param-name>Amount</param-name>
		<param-value>8250</param-value>
	</init-param>
	<init-param>
		<param-name>Fixed</param-name>
		<param-value>N</param-value>
	</init-param>
	<init-param>
		<param-name>Start_date_from</param-name>
		<param-value>19/11/2019</param-value>
	</init-param>
	<init-param>
		<param-name>Mobile</param-name>
		<param-value>+91-7297844555</param-value>
	</init-param>
	<init-param>
		<param-name>Customer_name</param-name>
		<param-value>INDIA SHELTER FINANCE CORPORATION LTD</param-value>
	</init-param>
	<init-param>
		<param-name>Consumer_reference</param-name>
		<param-value>AP-10011335</param-value>
	</init-param>
	<init-param>
		<param-name>Category</param-name>
		<param-value>I001</param-value>
	</init-param>
	<init-param>
		<param-name>Create_Date</param-name>
		<param-value>19/11/2019</param-value>
	</init-param>
	<init-param>
		<param-name>Utility_Code</param-name>
		<param-value>HDFC00060000003175</param-value>
	</init-param>
	<init-param>
		<param-name>Last_Updated_on</param-name>
		<param-value>07/02/2019</param-value>
	</init-param>
	<init-param>
		<param-name>Destination_Bank</param-name>
		<param-value>AUBL0000001</param-value>
	</init-param>
	<init-param>
		<param-name>Sponser_Bank</param-name>
		<param-value>HDFC0000060</param-value>
	</init-param>
	<init-param>
		<param-name>Destination_Bank_Name</param-name>
		<param-value>blank</param-value>
	</init-param>
</module>